<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    h1{
      text-align: center;
    }
    .container{
      border: 1px solid black;
    }
  </style>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>
 <div class="login container">
  <h1>Warerhouse Demand Forecast</h1>
  <div class="row">
    <div class="col-lg-2 col-sm-2">
    </div>
    <div class="col-lg-8 col-sm-8" >
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" style="width: 100%">
      <label>Enter the forecasting day: </label>
      <input type="text" name="experience" placeholder="Enter Forecasting Day" required="required" style="width: 100%" /><br>
          <label for="cars">Choose a store</label>
             <select name="stores" id="stores" required="required" style="width: 50%; float: right;">
              <option value="1">Store 1</option>
              <option value="2">Store 2</option>
              <option value="3">Store 3</option>
              <option value="4">Store 4</option>
              <option value="5">Store 5</option>
              <option value="6">Store 6</option>
              <option value="7">Store 7</option>
              <option value="8">Store 8</option>
              <option value="9">Store 9</option>
              <option value="10">Store 10</option>
              <option value="11">Store 11</option>
              <option value="12">Store12</option>
              <option value="13">Store 13</option>
              <option value="14">Store 14</option>
              <option value1="15">Store 15</option>
              <option value="16">Store 16</option>
              <option value="17">Store 17</option>
              <option value="18">Store 18</option>
              <option value="19">Store 19</option>
              <option value="20">Store 20</option>

            </select>   <br>
            <label for="cars">Choose a Product</label>
                 <select name="product_id" id="product_id" required="required" style="width: 50%; float: right;">
                  <option value="108696">Meat</option>
                  <option value="164088">Dairy</option>
                  <option value="804098">Sea Food</option>
                  <option value="1695936">Fruits</option>
                  <option value="2032088">Flour</option>
                </select>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
          </form>


         <br>
         <br>
         {{ prediction_text }}
       </div>
     </div>
 </div>
 <div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
  </div>


</body>
</html>